*{margin: 0; padding:0;}

html{
    height: 100%;
    
}
body {
    min-height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 49px 241px 75px 65px auto 41px;
}
/* ********************** HEADER ********************** */
.header{
    position: relative;
    display: flex;
    width: 100%;
    grid-row: 1/2;
}

.header a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000;
    opacity: 0.75;
    text-decoration: none;
}

.headLinkA {
    padding-left: 15px;
}

.headLinkB {
    padding-right: 12px;
}

#headright {
    position: absolute;
    bottom: 10px;
    right: 122px;
    padding-right: 30px;
}

#headleft {
    position: absolute;
    bottom: 10px;
    float: left;
    padding-left: 10px; 
}

.appRightA {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 120px;
    bottom: 3px;  
}

#appsA {
    display: inline-block;
    background: url(http://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-position: -132px -38px;
    opacity: .55;
    width: 30px;
    height: 30px;
}

#appsA:hover {
    opacity: .85;
}

.appRightB {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 75px;
    bottom: 3px;  
}

#appsB {
    display: inline-block;
    background: url(./assets/notii.png);
    background-size: 30px 30px;
    opacity: .65;
    width: 30px;
    height: 30px;
}

#appsB:hover {
    opacity: .85;
}

.appRightC {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 31px;
    bottom: 4px;  
}

#appsC {
    display: inline-block;
    background: url(https://lh3.googleusercontent.com/-TNp4v1MVz8w/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3re3kCsAyF2uK0BBCJ6dB0rMrCIhSQ/s64-c-mo/photo.jpg);
    background-size: 32px 32px;
    width: 30px;
    height: 30px;
    opacity: 1;
}

#appsC:hover {
    border: none;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.26);
    border-radius: 100%;
}

/* ********************** FOOTER ********************** */

footer {
    position: relative;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    color: #222;
    grid-row: 6 / 7;
    padding-left: 3px;
    padding-right: 30px;
}

footer a {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #5F6380;
    text-decoration: none;
}
.footLink{
    padding-left: 27px;
}
.footLinkA{
    padding-left: 23px;
}
.footLinkB{
    padding-right: 23px;
}
.footLinkC{
    padding-right: 0px;
}

#footright {
    line-height: 39px;
    float: right;
}

#footleft {
    line-height: 39px;

}

/* ********************** LOGO ********************** */
a:hover{
    text-decoration: underline;
}

#googleLogo {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    position: relative;
    width: 100%;
    grid-row: 2/3;
}

/* ********************** SEARCH_BAR ********************** */

.form {
    position: relative;
    grid-row: 3/4;
}

#searchBar {
    position: absolute;
    top: 28px;
    left: 12px;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 16px;
    padding-right: 48px;
    height: 34px;
    width: 520px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border: none;
}

#searchBar:focus {
    outline: none;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}
#searchBar:hover {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

#micLogo {
    position: absolute;
    top: 22px;
    left: 531px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 16px;
    height: 44px;
    width: 0px; 

    background: url("https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png") no-repeat;
    background-size: 24px 24px;
    background-position-y: center;
    background-position-x: right; 
}

/* ********************** BUTTONS ********************** */

.buttons {
    display: flex;
    justify-content: center;
    grid-row: 4/5;
}
.buttonPos {
    position: relative;
    top: 19px;
    left: 0;
    display: inline-block;

}
.grayButton {
    display: inline-block;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    padding: 0px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 9px 4px;
    cursor: pointer;
    height: 36px;
    line-height: 36px;
}

.grayButton:focus {
    border: 1px solid #4d90fe;
    outline: none;
}

.discover {
    grid-row: 5/6;
    text-align: center;
}

.blackHistory{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    position: relative;
    text-decoration: none;
    top: 20px;
}
.blackHistory:hover{
    text-decoration: underline;
}
.blackHistory:visited{
    color: #609;
}